/* June 20 2015 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);


a {
	text-decoration: none;
}


a:visited {
	background-color: inherit;
}


html, body {
	padding: 0%;
	margin: 0%;
	height: 100%;

	overflow: hidden;
}


.page {
	width: 100%;
	height: 100%;

	margin: 0pt;
	padding: 0pt;

	/*top: 720px;*/
	margin-top: 0%;
	-webkit-transition: margin-top 2.2s;
	/*overflow: hidden;*/
}


.slide-offscreen {
	margin-top: 100%;
	-webkit-transition: margin-top 2.2s;
}


.bottom-nav {
	/*position: relative;*/
	height: 10%;
	width: 87%;
	clear: both;

	box-shadow: 5pt 0pt 7pt #CCC3CC;
	padding: 12pt;
	margin:  25pt;

}


.extended {
	width: 60% !important;
	-webkit-transition: width 1.2s;
}


.side-nav {
	width:  18%;
	height: 70%;
	
	box-shadow: 5pt 0pt 7pt #CCC3CC;
	padding: 12pt;
	margin:  1.65%;

	-webkit-transition: width 3.2s ease-in;

	float: left;
	/*margin-left: 25pt;*/
	/*margin-top:  25pt;*/
	/*margin-bottom: 25pt;*/
}


#culture.side-nav { background-color: rgb(192, 57, 43); }


#animals.side-nav { }


#science.side-nav { background-color: rgb(41, 128, 185); }


#projects.side-nav {
	background-color: #FFC103;
}


.side-nav h1 {
	font-family: 'Raleway'; /* Raleway */
	font-size:   52pt;
}


.side-nav ul {
	padding: 0pt;
}


.side-nav ul li {
	list-style-type: none;

	margin:  0pt;
	padding: 3pt;

	margin-top:    5pt;
	margin-bottom: 5pt;

	font-family: 'Opens Sans' 'Raleway'; /* Raleway */
	-webkit-font-smoothing: antialiased;
	font-size:   22pt;

	/*-webkit-transition: background-color  0.7s ease;*/
	-webkit-transition: padding-left 0.7s ease;

	cursor: pointer;
}


.side-nav ul li:hover {
	-webkit-transition: background-color 0.7s ease;
	-webkit-transition: padding-left     0.7s ease;

	/*box-shadow: inset -7pt 0pt #CFCFCF;*/
	padding-left: 22pt;
}


.side-nav ul li img {
	-webkit-transition: -webkit-transform 0.7s ease;
}


.side-nav ul li:hover img {
	-webkit-transform: rotate(46deg);
	-webkit-transition: -webkit-transform 0.7s ease;
}


#titlebar.bottom-nav {
	padding: 12pt;
	background-color: rgb( 52, 152, 219);
	font-family: 'Raleway';
	font-size: 52pt;
}